<mat-tab-group [selectedIndex]="tabsSelectedIndex">
    <mat-tab label="Form" [disabled]="tabsSelectedIndex == 1">
        <div class="wrapper">
            <h1 class="mat-display-1">Fill in the form</h1>
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">
                <mat-form-field>
                    <input matInput type="text" name="First Name" formControlName="firstName" placeholder="First Name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="lastName" placeholder="Last Name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="adress" placeholder="Adress">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="email" formControlName="email" placeholder="Email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" formControlName="phone" placeholder="Phone">
                </mat-form-field>
                <button type="submit" mat-raised-button [disabled]="profileForm.invalid">Get info</button>
            </form>
        </div>
    </mat-tab>
    <!--  -->
    <mat-tab label="Info Overview" [disabled]="tabsSelectedIndex == 0">
        <h1>User Info</h1>
        <mat-list role="list" *ngIf="infos.length > 0">
            <mat-list-item role="listitem" *ngFor="let info of infos"><strong>{{ info.category }}</strong>:
                {{ info.value }}</mat-list-item>
        </mat-list>
        <button mat-raised-button (click)="resetHandler()">Refill the form</button>
    </mat-tab>
</mat-tab-group>